.form-container {
    text-align: center;
}

.search-label {
    color: #f2f2f2;
}

input[type=text] { 
    color: #a696c8;  
    margin: auto;
    margin-top: 10px;
    padding: 10px; 
    cursor: pointer;
    border-radius: 2px;
	display: block; 
	letter-spacing: 2px;        
}

.search-button {
    color: #f2f2f2;
    background-color: #2470a0;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 50px -10px #f2f2f2;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.search-button:hover, .switch-button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1);
  }

.loading-message {
      color: #a696c8;
  }

.results-list {
      padding: 0 0; 
      color: #f2f2f2;
      background-color: #a696c8;
  }


.results-p {
    /* color: #f2f2f2; */
    /* width: 25%; */
    /* background-color: #a696c8; */
    /* display: inline-block; */
    /* padding: 20px 20px; */
    text-align: center;
}

.switch-button {
    color: #f2f2f2;
    background-color: #2470a0;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 15px 30px -10px #f2f2f2;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.save-button {
    display: block;
    margin: 0 auto;
    color: #2470a0;
}

